

<%= stylesheet_link_tag 'whatsapp', media: 'all', 'data-turbolinks-track': 'reload' %>
<nav class="navbar">
  
  <% if @conversation.other_user(current_user).photo.attached? %>
  <%= image_tag @conversation.other_user(current_user).photo.variant(resize_to_fill: [50, 50]), alt: @conversation.other_user(current_user).username, class: 'rounded-circle' %>
<% else %>
  <%= image_tag 'ali.JPG', alt: 'Ali', width: 50, height: 50, class: 'rounded-circle' %>
<% end %>
      <h3 class="navbar-title"><%= @conversation.other_user(current_user).username.upcase %></h3>
      <div class="navbar-icons">
        <button id="close-btn" onclick="closeCamera()" aria-label="Close Camera"
          style="display: none; position: absolute; top: 10px; left: 10px;">Close</button>
        <a href="javascript:void(0);" onclick="openCamera()"
          aria-label="Camera">
          <div style="position: relative; width: 100%; height: auto;">

            <video id="camera-stream" autoplay
              style="width: 100%; height: auto; display: none;"></video>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
            fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
            <path
              d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z" />
            <path
              d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
          </svg>
        </a>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdownToggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
              <path
                d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0" />
              <path
                d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z" />
            </svg>
          </a>
          <ul class="dropdown-menu" id="dropdownMenu">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button">Button</button>
<button class="btn btn-primary" type="button">Button</button>
<button class="btn btn-primary" onclick="addContent()">Add Content</button>
<%= link_to 'Logout', destroy_board_member_session_path, method: :delete, class: "btn btn-primary" %>
<%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-primary" %>
            </div>
          </ul>
        </div>
      </div>
    </nav>

  <div id="container">
    <div id="content">
      <div id="messages" style="padding-bottom: 160px;">
        <% @messages.each do |message| %>
          <%= render message %>
        <% end %>
      </div>
    </div>
  </div>
<%= form_with(model: [ @conversation, Message.new ], remote: true, html: { id: 'new_message_form', class: 'custom-form sticky-form' }) do |form| %>
  <%= form.hidden_field :conversation_id, value: @conversation.id %>
  <div class="form-group">
    <%= form.text_area :body, id: "message_body", class: "text-input", placeholder: "Type a message...", style: "width: 80%; height: 40px; float: left; box-sizing: border-box;" %>
    <%= form.submit "Send", style: "width: 10%; height: 40px; float: left; background-color: #00942c; color: #fff; border: none; border-radius: 4px; padding: 10px 20px; cursor: pointer; font-size: 16px;" %>
  </div>
<% end %>



<script>
document.addEventListener('DOMContentLoaded', function() {
  const dropdownToggle = document.getElementById('dropdownToggle');
  const dropdownMenu = document.getElementById('dropdownMenu');

  dropdownToggle.addEventListener('click', function(event) {
    event.stopPropagation(); // Prevent click event from closing the dropdown immediately
    const isVisible = dropdownMenu.style.display === 'block';
    dropdownMenu.style.display = isVisible ? 'none' : 'block';
    adjustDropdownPosition();
  });

  document.addEventListener('click', function(event) {
    if (!dropdownToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
      dropdownMenu.style.display = 'none';
    }
  });

  function adjustDropdownPosition() {
    const rect = dropdownMenu.getBoundingClientRect();
    const isOverflowingLeft = rect.left < 0;
    const isOverflowingRight = rect.right > window.innerWidth;
    
    if (isOverflowingLeft) {
      dropdownMenu.style.left = '0'; // Reset position to keep it within screen
      dropdownMenu.style.right = '0'; // Align to the right edge of the dropdown container
    } else if (isOverflowingRight) {
      dropdownMenu.style.left = 'auto';
      dropdownMenu.style.right = '0'; // Ensure it stays within the right edge of the viewport
    } else {
      dropdownMenu.style.left = '0'; // Default positioning
      dropdownMenu.style.right = 'auto';
    }
  }
});
function openCamera() {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function(stream) {
      const video = document.getElementById('camera-stream');
      const closeButton = document.getElementById('close-btn');
      video.style.display = 'block'; // Show the video element
      closeButton.style.display = 'block'; // Show the close button
      video.srcObject = stream; // Display the camera stream
    })
    .catch(function(err) {
      console.error("Error: " + err);
    });
}

function closeCamera() {
  const video = document.getElementById('camera-stream');
  const closeButton = document.getElementById('close-btn');
  const stream = video.srcObject;
  if (stream) {
    const tracks = stream.getTracks();
    tracks.forEach(track => track.stop());
    video.srcObject = null;
    video.style.display = 'none'; // Hide the video element
    closeButton.style.display = 'none'; // Hide the close button
  }
}
</script>
