<h1>Cfo</h1>
<p><strong>Name:</strong> <%= @cfo.name %></p>
<p><strong>Email:</strong> <%= @cfo.email %></p>
<p><strong>Encrypted Password:</strong> <%= @cfo.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @cfo.phone %></p>
<p><strong>Department:</strong> <%= @cfo.department %></p>
