<h1>Chairmen</h1>
<p><strong>Name:</strong> <%= @chairman.name %></p>
<p><strong>Email:</strong> <%= @chairman.email %></p>
<p><strong>Encrypted Password:</strong> <%= @chairman.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @chairman.phone %></p>
<p><strong>Department:</strong> <%= @chairman.department %></p>
