<h1>Customer Relations Managers</h1>
<p><strong>Name:</strong> <%= @customer_relations_manager.name %></p>
<p><strong>Email:</strong> <%= @customer_relations_manager.email %></p>
<p><strong>Encrypted Password:</strong> <%= @customer_relations_manager.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @customer_relations_manager.phone %></p>
<p><strong>Department:</strong> <%= @customer_relations_manager.department %></p>
