<h1>Customer Service Managers</h1>
<p><strong>Name:</strong> <%= @customer_service_manager.name %></p>
<p><strong>Email:</strong> <%= @customer_service_manager.email %></p>
<p><strong>Encrypted Password:</strong> <%= @customer_service_manager.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @customer_service_manager.phone %></p>
<p><strong>Department:</strong> <%= @customer_service_manager.department %></p>
