<h1>Demand Planners</h1>
<p><strong>Name:</strong> <%= @demand_planner.name %></p>
<p><strong>Email:</strong> <%= @demand_planner.email %></p>
<p><strong>Encrypted Password:</strong> <%= @demand_planner.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @demand_planner.phone %></p>
<p><strong>Department:</strong> <%= @demand_planner.department %></p>
