<h1>Distribution Coordinators</h1>
<p><strong>Name:</strong> <%= @distribution_coordinator.name %></p>
<p><strong>Email:</strong> <%= @distribution_coordinator.email %></p>
<p><strong>Encrypted Password:</strong> <%= @distribution_coordinator.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @distribution_coordinator.phone %></p>
<p><strong>Department:</strong> <%= @distribution_coordinator.department %></p>
