<h1>Electrical Engineers</h1>
<p><strong>Name:</strong> <%= @electrical_engineer.name %></p>
<p><strong>Email:</strong> <%= @electrical_engineer.email %></p>
<p><strong>Encrypted Password:</strong> <%= @electrical_engineer.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @electrical_engineer.phone %></p>
<p><strong>Department:</strong> <%= @electrical_engineer.department %></p>
