<h1>Environmental Specialists</h1>
<p><strong>Name:</strong> <%= @environmental_specialist.name %></p>
<p><strong>Email:</strong> <%= @environmental_specialist.email %></p>
<p><strong>Encrypted Password:</strong> <%= @environmental_specialist.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @environmental_specialist.phone %></p>
<p><strong>Department:</strong> <%= @environmental_specialist.department %></p>
