<h1>Financial Analysts</h1>
<p><strong>Name:</strong> <%= @financial_analyst.name %></p>
<p><strong>Email:</strong> <%= @financial_analyst.email %></p>
<p><strong>Encrypted Password:</strong> <%= @financial_analyst.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @financial_analyst.phone %></p>
<p><strong>Department:</strong> <%= @financial_analyst.department %></p>
