<h1>Hr Managers</h1>
<p><strong>Name:</strong> <%= @hr_manager.name %></p>
<p><strong>Email:</strong> <%= @hr_manager.email %></p>
<p><strong>Encrypted Password:</strong> <%= @hr_manager.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @hr_manager.phone %></p>
<p><strong>Department:</strong> <%= @hr_manager.department %></p>
