<h1>Inventory Controllers</h1>
<p><strong>Name:</strong> <%= @inventory_controller.name %></p>
<p><strong>Email:</strong> <%= @inventory_controller.email %></p>
<p><strong>Encrypted Password:</strong> <%= @inventory_controller.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @inventory_controller.phone %></p>
<p><strong>Department:</strong> <%= @inventory_controller.department %></p>
