<h1>It Managers</h1>
<p><strong>Name:</strong> <%= @it_manager.name %></p>
<p><strong>Email:</strong> <%= @it_manager.email %></p>
<p><strong>Encrypted Password:</strong> <%= @it_manager.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @it_manager.phone %></p>
<p><strong>Department:</strong> <%= @it_manager.department %></p>
