<h1>Logistics Managers</h1>
<p><strong>Name:</strong> <%= @logistics_manager.name %></p>
<p><strong>Email:</strong> <%= @logistics_manager.email %></p>
<p><strong>Encrypted Password:</strong> <%= @logistics_manager.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @logistics_manager.phone %></p>
<p><strong>Department:</strong> <%= @logistics_manager.department %></p>
