<h1>Maintenance Managers</h1>
<p><strong>Name:</strong> <%= @maintenance_manager.name %></p>
<p><strong>Email:</strong> <%= @maintenance_manager.email %></p>
<p><strong>Encrypted Password:</strong> <%= @maintenance_manager.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @maintenance_manager.phone %></p>
<p><strong>Department:</strong> <%= @maintenance_manager.department %></p>
