<h1>Maintenance Technicians</h1>
<p><strong>Name:</strong> <%= @maintenance_technician.name %></p>
<p><strong>Email:</strong> <%= @maintenance_technician.email %></p>
<p><strong>Encrypted Password:</strong> <%= @maintenance_technician.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @maintenance_technician.phone %></p>
<p><strong>Department:</strong> <%= @maintenance_technician.department %></p>
