<h1>Marketing Managers</h1>
<p><strong>Name:</strong> <%= @marketing_manager.name %></p>
<p><strong>Email:</strong> <%= @marketing_manager.email %></p>
<p><strong>Encrypted Password:</strong> <%= @marketing_manager.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @marketing_manager.phone %></p>
<p><strong>Department:</strong> <%= @marketing_manager.department %></p>
