<h1>Mechanical Engineers</h1>
<p><strong>Name:</strong> <%= @mechanical_engineer.name %></p>
<p><strong>Email:</strong> <%= @mechanical_engineer.email %></p>
<p><strong>Encrypted Password:</strong> <%= @mechanical_engineer.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @mechanical_engineer.phone %></p>
<p><strong>Department:</strong> <%= @mechanical_engineer.department %></p>
