<h1>Order Processors</h1>
<p><strong>Name:</strong> <%= @order_processor.name %></p>
<p><strong>Email:</strong> <%= @order_processor.email %></p>
<p><strong>Encrypted Password:</strong> <%= @order_processor.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @order_processor.phone %></p>
<p><strong>Department:</strong> <%= @order_processor.department %></p>
