<h1>Pattern Makers</h1>
<p><strong>Name:</strong> <%= @pattern_maker.name %></p>
<p><strong>Email:</strong> <%= @pattern_maker.email %></p>
<p><strong>Encrypted Password:</strong> <%= @pattern_maker.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @pattern_maker.phone %></p>
<p><strong>Department:</strong> <%= @pattern_maker.department %></p>
