<h1>Procurement Managers</h1>
<p><strong>Name:</strong> <%= @procurement_manager.name %></p>
<p><strong>Email:</strong> <%= @procurement_manager.email %></p>
<p><strong>Encrypted Password:</strong> <%= @procurement_manager.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @procurement_manager.phone %></p>
<p><strong>Department:</strong> <%= @procurement_manager.department %></p>
