<h1>Production Planners</h1>
<p><strong>Name:</strong> <%= @production_planner.name %></p>
<p><strong>Email:</strong> <%= @production_planner.email %></p>
<p><strong>Encrypted Password:</strong> <%= @production_planner.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @production_planner.phone %></p>
<p><strong>Department:</strong> <%= @production_planner.department %></p>
