<h1>Production Managers</h1>
<p><strong>Name:</strong> <%= @production_manager.name %></p>
<p><strong>Email:</strong> <%= @production_manager.email %></p>
<p><strong>Encrypted Password:</strong> <%= @production_manager.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @production_manager.phone %></p>
<p><strong>Department:</strong> <%= @production_manager.department %></p>
