<h1>Purchasing Officers</h1>
<p><strong>Name:</strong> <%= @purchasing_officer.name %></p>
<p><strong>Email:</strong> <%= @purchasing_officer.email %></p>
<p><strong>Encrypted Password:</strong> <%= @purchasing_officer.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @purchasing_officer.phone %></p>
<p><strong>Department:</strong> <%= @purchasing_officer.department %></p>
