<h1>Quality Control Inspectors</h1>
<p><strong>Name:</strong> <%= @quality_control_inspector.name %></p>
<p><strong>Email:</strong> <%= @quality_control_inspector.email %></p>
<p><strong>Encrypted Password:</strong> <%= @quality_control_inspector.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @quality_control_inspector.phone %></p>
<p><strong>Department:</strong> <%= @quality_control_inspector.department %></p>
