<h1>Receptionists</h1>
<p><strong>Name:</strong> <%= @receptionist.name %></p>
<p><strong>Email:</strong> <%= @receptionist.email %></p>
<p><strong>Encrypted Password:</strong> <%= @receptionist.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @receptionist.phone %></p>
<p><strong>Department:</strong> <%= @receptionist.department %></p>
