<h1>Recruitment Specialists</h1>
<p><strong>Name:</strong> <%= @recruitment_specialist.name %></p>
<p><strong>Email:</strong> <%= @recruitment_specialist.email %></p>
<p><strong>Encrypted Password:</strong> <%= @recruitment_specialist.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @recruitment_specialist.phone %></p>
<p><strong>Department:</strong> <%= @recruitment_specialist.department %></p>
