<h1>Research Scientists</h1>
<p><strong>Name:</strong> <%= @research_scientist.name %></p>
<p><strong>Email:</strong> <%= @research_scientist.email %></p>
<p><strong>Encrypted Password:</strong> <%= @research_scientist.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @research_scientist.phone %></p>
<p><strong>Department:</strong> <%= @research_scientist.department %></p>
