<h1>Safety Officers</h1>
<p><strong>Name:</strong> <%= @safety_officer.name %></p>
<p><strong>Email:</strong> <%= @safety_officer.email %></p>
<p><strong>Encrypted Password:</strong> <%= @safety_officer.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @safety_officer.phone %></p>
<p><strong>Department:</strong> <%= @safety_officer.department %></p>
