<h1>Sales Managers</h1>
<p><strong>Name:</strong> <%= @sales_manager.name %></p>
<p><strong>Email:</strong> <%= @sales_manager.email %></p>
<p><strong>Encrypted Password:</strong> <%= @sales_manager.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @sales_manager.phone %></p>
<p><strong>Department:</strong> <%= @sales_manager.department %></p>
