<h1>Sales Representatives</h1>
<p><strong>Name:</strong> <%= @sales_representative.name %></p>
<p><strong>Email:</strong> <%= @sales_representative.email %></p>
<p><strong>Encrypted Password:</strong> <%= @sales_representative.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @sales_representative.phone %></p>
<p><strong>Department:</strong> <%= @sales_representative.department %></p>
