<h1>Shift Supervisors</h1>
<p><strong>Name:</strong> <%= @shift_supervisor.name %></p>
<p><strong>Email:</strong> <%= @shift_supervisor.email %></p>
<p><strong>Encrypted Password:</strong> <%= @shift_supervisor.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @shift_supervisor.phone %></p>
<p><strong>Department:</strong> <%= @shift_supervisor.department %></p>
