<h1>Software Developers</h1>
<p><strong>Name:</strong> <%= @software_developer.name %></p>
<p><strong>Email:</strong> <%= @software_developer.email %></p>
<p><strong>Encrypted Password:</strong> <%= @software_developer.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @software_developer.phone %></p>
<p><strong>Department:</strong> <%= @software_developer.department %></p>
