<h1>Supply Chain Coordinators</h1>
<p><strong>Name:</strong> <%= @supply_chain_coordinator.name %></p>
<p><strong>Email:</strong> <%= @supply_chain_coordinator.email %></p>
<p><strong>Encrypted Password:</strong> <%= @supply_chain_coordinator.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @supply_chain_coordinator.phone %></p>
<p><strong>Department:</strong> <%= @supply_chain_coordinator.department %></p>
