<h1>Systems Administrators</h1>
<p><strong>Name:</strong> <%= @systems_administrator.name %></p>
<p><strong>Email:</strong> <%= @systems_administrator.email %></p>
<p><strong>Encrypted Password:</strong> <%= @systems_administrator.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @systems_administrator.phone %></p>
<p><strong>Department:</strong> <%= @systems_administrator.department %></p>
