<h1>Textile Designers</h1>
<p><strong>Name:</strong> <%= @textile_designer.name %></p>
<p><strong>Email:</strong> <%= @textile_designer.email %></p>
<p><strong>Encrypted Password:</strong> <%= @textile_designer.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @textile_designer.phone %></p>
<p><strong>Department:</strong> <%= @textile_designer.department %></p>
