<h1>Training And Development Officers</h1>
<p><strong>Name:</strong> <%= @training_and_development_officer.name %></p>
<p><strong>Email:</strong> <%= @training_and_development_officer.email %></p>
<p><strong>Encrypted Password:</strong> <%= @training_and_development_officer.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @training_and_development_officer.phone %></p>
<p><strong>Department:</strong> <%= @training_and_development_officer.department %></p>
