<h1>Warehouse Supervisors</h1>
<p><strong>Name:</strong> <%= @warehouse_supervisor.name %></p>
<p><strong>Email:</strong> <%= @warehouse_supervisor.email %></p>
<p><strong>Encrypted Password:</strong> <%= @warehouse_supervisor.encrypted_password %></p>
<p><strong>Phone:</strong> <%= @warehouse_supervisor.phone %></p>
<p><strong>Department:</strong> <%= @warehouse_supervisor.department %></p>
