

<p><%= link_to 'Sign Up as Board Member', new_board_member_registration_path %></p>
<p><%= link_to 'Log In as Board Member', new_board_member_session_path %></p>

<p><%= link_to 'Sign Up as Director', new_director_registration_path %></p>
<p><%= link_to 'Log In as Director', new_director_session_path %></p>

<p><%= link_to 'Sign Up as Shareholder', new_shareholder_registration_path %></p>
<p><%= link_to 'Log In as Shareholder', new_shareholder_session_path %></p>

<p><%= link_to 'Sign Up as Investor', new_investor_registration_path %></p>
<p><%= link_to 'Log In as Investor', new_investor_session_path %></p>

<p><%= link_to 'Sign Up as CFO', new_cfo_registration_path %></p>
<p><%= link_to 'Log In as CFO', new_cfo_session_path %></p>

<p><%= link_to 'Sign Up as Accountant', new_accountant_registration_path %></p>
<p><%= link_to 'Log In as Accountant', new_accountant_session_path %></p>

<p><%= link_to 'Sign Up as Financial Analyst', new_financial_analyst_registration_path %></p>
<p><%= link_to 'Log In as Financial Analyst', new_financial_analyst_session_path %></p>

<p><%= link_to 'Sign Up as HR Manager', new_hr_manager_registration_path %></p>
<p><%= link_to 'Log In as HR Manager', new_hr_manager_session_path %></p>

<p><%= link_to 'Sign Up as Recruitment Specialist', new_recruitment_specialist_registration_path %></p>
<p><%= link_to 'Log In as Recruitment Specialist', new_recruitment_specialist_session_path %></p>

<p><%= link_to 'Sign Up as Training and Development Officer', new_training_and_development_officer_registration_path %></p>
<p><%= link_to 'Log In as Training and Development Officer', new_training_and_development_officer_session_path %></p>

<p><%= link_to 'Sign Up as Sales Manager', new_sales_manager_registration_path %></p>
<p><%= link_to 'Log In as Sales Manager', new_sales_manager_session_path %></p>

<p><%= link_to 'Sign Up as Marketing Manager', new_marketing_manager_registration_path %></p>
<p><%= link_to 'Log In as Marketing Manager', new_marketing_manager_session_path %></p>

<p><%= link_to 'Sign Up as Sales Representative', new_sales_representative_registration_path %></p>
<p><%= link_to 'Log In as Sales Representative', new_sales_representative_session_path %></p>

<p><%= link_to 'Sign Up as Customer Relations Manager', new_customer_relations_manager_registration_path %></p>
<p><%= link_to 'Log In as Customer Relations Manager', new_customer_relations_manager_session_path %></p>

<p><%= link_to 'Sign Up as Production Manager', new_production_manager_registration_path %></p>
<p><%= link_to 'Log In as Production Manager', new_production_manager_session_path %></p>

<p><%= link_to 'Sign Up as Production Planner', new_production_planner_registration_path %></p>
<p><%= link_to 'Log In as Production Planner', new_production_planner_session_path %></p>

<p><%= link_to 'Sign Up as Shift Supervisor', new_shift_supervisor_registration_path %></p>
<p><%= link_to 'Log In as Shift Supervisor', new_shift_supervisor_session_path %></p>

<p><%= link_to 'Sign Up as Machine Operator', new_machine_operator_registration_path %></p>
<p><%= link_to 'Log In as Machine Operator', new_machine_operator_session_path %></p>

<p><%= link_to 'Sign Up as Quality Control Inspector', new_quality_control_inspector_registration_path %></p>
<p><%= link_to 'Log In as Quality Control Inspector', new_quality_control_inspector_session_path %></p>

<p><%= link_to 'Sign Up as R&D Manager', new_r_and_d_manager_registration_path %></p>
<p><%= link_to 'Log In as R&D Manager', new_r_and_d_manager_session_path %></p>

<p><%= link_to 'Sign Up as Textile Technologist', new_textile_technologist_registration_path %></p>
<p><%= link_to 'Log In as Textile Technologist', new_textile_technologist_session_path %></p>

<p><%= link_to 'Sign Up as Research Scientist', new_research_scientist_registration_path %></p>
<p><%= link_to 'Log In as Research Scientist', new_research_scientist_session_path %></p>

<p><%= link_to 'Sign Up as Textile Designer', new_textile_designer_registration_path %></p>
<p><%= link_to 'Log In as Textile Designer', new_textile_designer_session_path %></p>

<p><%= link_to 'Sign Up as CAD Designer', new_cad_designer_registration_path %></p>
<p><%= link_to 'Log In as CAD Designer', new_cad_designer_session_path %></p>

<p><%= link_to 'Sign Up as Pattern Maker', new_pattern_maker_registration_path %></p>
<p><%= link_to 'Log In as Pattern Maker', new_pattern_maker_session_path %></p>

<p><%= link_to 'Sign Up as Colorist', new_colorist_registration_path %></p>
<p><%= link_to 'Log In as Colorist', new_colorist_session_path %></p>

<p><%= link_to 'Sign Up as IT Manager', new_it_manager_registration_path %></p>
<p><%= link_to 'Log In as IT Manager', new_it_manager_session_path %></p>

<p><%= link_to 'Sign Up as Systems Administrator', new_systems_administrator_registration_path %></p>
<p><%= link_to 'Log In as Systems Administrator', new_systems_administrator_session_path %></p>

<p><%= link_to 'Sign Up as Software Developer', new_software_developer_registration_path %></p>
<p><%= link_to 'Log In as Software Developer', new_software_developer_session_path %></p>

<p><%= link_to 'Sign Up as Maintenance Manager', new_maintenance_manager_registration_path %></p>
<p><%= link_to 'Log In as Maintenance Manager', new_maintenance_manager_session_path %></p>

<p><%= link_to 'Sign Up as Electrical Engineer', new_electrical_engineer_registration_path %></p>
<p><%= link_to 'Log In as Electrical Engineer', new_electrical_engineer_session_path %></p>

<p><%= link_to 'Sign Up as Mechanical Engineer', new_mechanical_engineer_registration_path %></p>
<p><%= link_to 'Log In as Mechanical Engineer', new_mechanical_engineer_session_path %></p>

<p><%= link_to 'Sign Up as Maintenance Technician', new_maintenance_technician_registration_path %></p>
<p><%= link_to 'Log In as Maintenance Technician', new_maintenance_technician_session_path %></p>

<p><%= link_to 'Sign Up as Procurement Manager', new_procurement_manager_registration_path %></p>
<p><%= link_to 'Log In as Procurement Manager', new_procurement_manager_session_path %></p>

<p><%= link_to 'Sign Up as Supply Chain Coordinator', new_supply_chain_coordinator_registration_path %></p>
<p><%= link_to 'Log In as Supply Chain Coordinator', new_supply_chain_coordinator_session_path %></p>

<p><%= link_to 'Sign Up as Purchasing Officer', new_purchasing_officer_registration_path %></p>
<p><%= link_to 'Log In as Purchasing Officer', new_purchasing_officer_session_path %></p>

<p><%= link_to 'Sign Up as Logistics Manager', new_logistics_manager_registration_path %></p>
<p><%= link_to 'Log In as Logistics Manager', new_logistics_manager_session_path %></p>

<p><%= link_to 'Sign Up as Warehouse Supervisor', new_warehouse_supervisor_registration_path %></p>
<p><%= link_to 'Log In as Warehouse Supervisor', new_warehouse_supervisor_session_path %></p>

<p><%= link_to 'Sign Up as Distribution Coordinator', new_distribution_coordinator_registration_path %></p>
<p><%= link_to 'Log In as Distribution Coordinator', new_distribution_coordinator_session_path %></p>

<p><%= link_to 'Sign Up as Compliance Manager', new_compliance_manager_registration_path %></p>
<p><%= link_to 'Log In as Compliance Manager', new_compliance_manager_session_path %></p>

<p><%= link_to 'Sign Up as Environmental Specialist', new_environmental_specialist_registration_path %></p>
<p><%= link_to 'Log In as Environmental Specialist', new_environmental_specialist_session_path %></p>

<p><%= link_to 'Sign Up as Safety Officer', new_safety_officer_registration_path %></p>
<p><%= link_to 'Log In as Safety Officer', new_safety_officer_session_path %></p>

<p><%= link_to 'Sign Up as Customer Service Manager', new_customer_service_manager_registration_path %></p>
<p><%= link_to 'Log In as Customer Service Manager', new_customer_service_manager_session_path %></p>

<p><%= link_to 'Sign Up as Order Processor', new_order_processor_registration_path %></p>
<p><%= link_to 'Log In as Order Processor', new_order_processor_session_path %></p>

<p><%= link_to 'Sign Up as Customer Support Representative', new_customer_support_representative_registration_path %></p>
<p><%= link_to 'Log In as Customer Support Representative', new_customer_support_representative_session_path %></p>

<p><%= link_to 'Sign Up as Inventory Controller', new_inventory_controller_registration_path %></p>
<p><%= link_to 'Log In as Inventory Controller', new_inventory_controller_session_path %></p>

<p><%= link_to 'Sign Up as Demand Planner', new_demand_planner_registration_path %></p>
<p><%= link_to 'Log In as Demand Planner', new_demand_planner_session_path %></p>

<p><%= link_to 'Sign Up as Office Manager', new_office_manager_registration_path %></p>
<p><%= link_to 'Log In as Office Manager', new_office_manager_session_path %></p>

<p><%= link_to 'Sign Up as Administrative Assistant', new_administrative_assistant_registration_path %></p>
<p><%= link_to 'Log In as Administrative Assistant', new_administrative_assistant_session_path %></p>

<p><%= link_to 'Sign Up as Receptionist', new_receptionist_registration_path %></p>
<p><%= link_to 'Log In as Receptionist', new_receptionist_session_path %></p>
