<!-- app/views/login_pages/SC_Coord.html.erb -->
<%= stylesheet_link_tag 'login_signup', media: 'all', 'data-turbo-track': 'reload' %>

<%= form_with(model: @SC_Coord, url: supply_chain_coordinators_create_session_path, method: :post, class: 'signup-form') do |form| %>
  <div class="form-group">
    <%= form.email_field :email, placeholder: 'Enter your email', name: 'supply_chain_coordinator[email]', class: 'form-input' %>
  </div>
  <div class="form-group">
    <%= form.password_field :password, placeholder: 'Enter your password', name: 'supply_chain_coordinator[password]', class: 'form-input' %>
  </div>
  <div>
    <%= form.submit 'Login', class: 'form-submit' %>
  </div>
  <div class="form-submit">
    <%= link_to 'Forgotten Password', forgot_path, class: 'form-submit' %>
  </div>
<% end %>


