<!-- app/views/login_pages/T&D_Officer.html.erb -->
<%= stylesheet_link_tag 'login_signup', media: 'all', 'data-turbo-track': 'reload' %>

<%= form_with(model: @T&D_Officer, url: training_and_development_officers_create_session_path, method: :post, class: 'signup-form') do |form| %>
  <div class="form-group">
    <%= form.email_field :email, placeholder: 'Enter your email', name: 'training_and_development_officer[email]', class: 'form-input' %>
  </div>
  <div class="form-group">
    <%= form.password_field :password, placeholder: 'Enter your password', name: 'training_and_development_officer[password]', class: 'form-input' %>
  </div>
  <div>
    <%= form.submit 'Login', class: 'form-submit' %>
  </div>
  <div class="form-submit">
    <%= link_to 'Forgotten Password', forgot_path, class: 'form-submit' %>
  </div>
<% end %>


