<p style="color: green"><%= notice %></p>

<%= render @admin_panel %>

<div>
  <%= link_to "Edit this admin panel", edit_admin_panel_path(@admin_panel) %> |
  <%= link_to "Back to admin panels", admin_panels_path %>

  <%= button_to "Destroy this admin panel", @admin_panel, method: :delete %>
</div>
