<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="TemplateMo">
      <title>First Portfolio Bootstrap 5 Theme</title>
      <!-- CSRF and CSP Meta Tags for Security -->
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
      <!-- CSS Files -->
      <%= stylesheet_link_tag 'bootstrap.min', 'bootstrap-icons', 'magnific-popup', 'templatemo-first-portfolio-style', media: 'all', 'data-turbolinks-track': 'reload' %>
      <!-- TemplateMo Attribution (can remain in comments) -->
      <!-- 
         TemplateMo 578 First Portfolio
         https://templatemo.com/tm-578-first-portfolio
         -->
   </head>
   <body>
      <section class="preloader">
         <div class="spinner">
            <span class="spinner-rotate"></span>    
         </div>
      </section>
      <nav class="navbar navbar-expand-lg">
         <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a href="index.html" class="navbar-brand mx-auto mx-lg-0">Ali Ishaq</a>
            <div class="d-flex align-items-center d-lg-none">
            <a href="https://aliishaq.site" target="_blank" class="navbar-icon me-3" title="Website">
                <i class="bi bi-house"></i> <!-- House icon for personal website -->
            </a>
            <a href="https://www.fiverr.com/AliIshaqPro" target="_blank" class="navbar-icon me-3" title="Fiverr">
                <i class="bi bi-briefcase"></i> <!-- Briefcase icon for Fiverr -->
            </a>
            <a href="https://www.linkedin.com/in/ali-ishaq-0bb5a0219/" target="_blank" class="navbar-icon me-3" title="LinkedIn">
                <i class="bi bi-linkedin"></i> <!-- LinkedIn icon -->
            </a>
            <a href="https://github.com/AliIshaqPro" target="_blank" class="navbar-icon me-3" title="GitHub">
                <i class="bi bi-github"></i> <!-- GitHub icon -->
            </a>
            <a href="https://www.upwork.com/freelancers/~youruserid" target="_blank" class="navbar-icon me-3" title="Upwork">
                <i class="bi bi-people"></i> <!-- People icon for Upwork -->
            </a>
        </div>
        
            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav ms-lg-5">
                  <li class="nav-item">
                     <a class="nav-link click-scroll" href="#section_1">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link click-scroll" href="#section_2">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link click-scroll" href="#section_3">Services</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link click-scroll" href="#section_4">Projects</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link click-scroll" href="#section_5">Contact</a>
                  </li>
               </ul>
               <div class="d-lg-flex align-items-center d-none ms-auto">
    <a href="https://aliishaq.site" target="_blank" class="navbar-icon me-3" title="Website">
        <i class="bi bi-house"></i> <!-- House icon for personal website -->
    </a>
    <a href="https://www.fiverr.com/AliIshaqPro" target="_blank" class="navbar-icon me-3" title="Fiverr">
        <i class="bi bi-briefcase"></i> <!-- Briefcase icon for Fiverr -->
    </a>
    <a href="https://www.linkedin.com/in/ali-ishaq-0bb5a0219/" target="_blank" class="navbar-icon me-3" title="LinkedIn">
        <i class="bi bi-linkedin"></i> <!-- LinkedIn icon -->
    </a>
    <a href="https://github.com/AliIshaqPro" target="_blank" class="navbar-icon me-3" title="GitHub">
        <i class="bi bi-github"></i> <!-- GitHub icon -->
    </a>
    <a href="https://www.upwork.com/freelancers/~youruserid" target="_blank" class="navbar-icon me-3" title="Upwork">
        <i class="bi bi-people"></i> <!-- People icon for Upwork -->
    </a>
</div>

            </div>
         </div>
      </nav>
      <main>
         <section class="hero d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
               <div class="row">
                  <div class="col-lg-7 col-12">
                     <div class="hero-text">
                        <div class="hero-title-wrap d-flex align-items-center mb-4">
                           <%= image_tag 'ali.JPG', class: 'avatar-image avatar-image-large img-fluid', alt: 'Happy Bearded Young Man' %>
                           <h1 class="hero-title ms-3 mb-0">Hello Friends!</h1>
                        </div>
                        <h2 class="mb-4">I’m a Full Stack Developer</h2>
                        <p class="mb-4"><a class="custom-btn btn custom-link" href="#section_2">Let's begin</a></p>
                     </div>
                  </div>
                  <div class="col-lg-5 col-12 position-relative">
                     <div class="hero-image-wrap position-relative overflow-hidden d-flex justify-content-center align-items-center" style="width: 300px; height: 300px; border-radius: 50%; overflow: hidden;">
                        <%= image_tag "ali2.jpg", class: "img-fluid w-100 h-100", alt: "CEO", style: "object-fit: cover;" %>
                     </div>
                  </div>
               </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
               <path fill="#535da1" fill-opacity="1" d="M0,160L24,160C48,160,96,160,144,138.7C192,117,240,75,288,64C336,53,384,75,432,106.7C480,139,528,181,576,208C624,235,672,245,720,240C768,235,816,213,864,186.7C912,160,960,128,1008,133.3C1056,139,1104,181,1152,202.7C1200,224,1248,224,1296,197.3C1344,171,1392,117,1416,90.7L1440,64L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path>
            </svg>
         </section>
         <section class="about section-padding" id="section_2">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-12">
                     <%= image_tag 'code2.jpg', class: 'about-image img-fluid', alt: 'Couple working from home together on a sofa' %>
                  </div>
                  <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                     <div class="about-thumb">
                        <div class="section-title-wrap d-flex justify-content-end align-items-center mb-4">
                           <h2 class="text-white me-4 mb-0">My Story</h2>
                           <%= image_tag 'ali.JPG', class: 'avatar-image img-fluid', alt: 'Happy bearded young man' %>
                        </div>
                        <h3 class="pt-2 mb-3">A little bit about Ali</h3>
                        <p>I am a passionate web developer with a Bachelor's degree in Computer Science and 2 years of hands-on experience. I have expertise in Ruby on Rails, C++, HTML/CSS, JavaScript, Git/GitHub, Bootstrap, Linux, Tailwind CSS, and React. My skill set also includes Object-Oriented Programming (OOP), and I have a strong foundation in both frontend and backend development. I'm dedicated to building clean, efficient, and scalable web applications.</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="featured section-padding">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-12">
                     <div class="profile-thumb">
                        <div class="profile-title">
                           <h4 class="mb-0">Information</h4>
                        </div>
                        <div class="profile-body">
                           <p>
                              <span class="profile-small-title">Name</span> 
                              <span>Ali Ishaq</span>
                           </p>
                           <p>
                              <span class="profile-small-title">Education</span> 
                              <span>Bachelor's in computer science</span>
                           </p>
                           <p>
                              <span class="profile-small-title">Phone</span> 
                              <span><a href="tel:03460422988">+92 346 0422988</a></span>
                           </p>
                           <p>
                              <span class="profile-small-title">Email</span> 
                              <span><a href="mailto:hello@josh.design">aliishaqsandho@gmail.com</a></span>
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                     <div class="about-thumb">
                        <div class="row">
                           <div class="col-lg-6 col-6 featured-border-bottom py-2">
                              <strong class="featured-numbers">2+</strong>
                              <p class="featured-text">Years of Coding Practice</p>
                              <!-- Highlight your dedication to learning and coding -->
                           </div>
                           <div class="col-lg-6 col-6 featured-border-start featured-border-bottom ps-5 py-2">
                              <strong class="featured-numbers">5+</strong>
                              <p class="featured-text">Personal Projects</p>
                              <!-- Focus on personal projects you've created, no matter the size -->
                           </div>
                           <div class="col-lg-6 col-6 pt-4">
                              <strong class="featured-numbers">10+</strong>
                              <p class="featured-text">Skills Developed</p>
                              <!-- Mention key skills you've been learning, such as HTML, CSS, Ruby on Rails, etc. -->
                           </div>
                           <div class="col-lg-6 col-6 featured-border-start ps-5 pt-4">
                              <strong class="featured-numbers">∞</strong>
                              <p class="featured-text">Passion for Learning</p>
                              <!-- Emphasize your enthusiasm and commitment to continuous improvement -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            </div>
         </section>
         <section class="clients section-padding">
            <div class="container">
               <div class="row align-items-center">
                  <div class="row">
                     <div class="col-lg-2 col-4 ms-auto">
                        <div class="card h-100" style="border-radius: 20px;">
                           <%= image_tag 'Ruby_On_Rails_Logo.png', class: 'card-img-top img-fluid', style: 'height: 150px; object-fit: contain;', alt: 'Ruby on Rails' %>
                           <div class="card-body text-center">
                              <p class="card-text">Ruby on Rails</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-2 col-4">
                        <div class="card h-100" style="border-radius: 20px;">
                           <%= image_tag 'Cpp.png', class: 'card-img-top img-fluid', style: 'height: 150px; object-fit: contain;', alt: 'C++' %>
                           <div class="card-body text-center">
                              <p class="card-text">C++</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-2 col-4">
                        <div class="card h-100" style="border-radius: 20px;">
                           <%= image_tag 'htmlcs.png', class: 'card-img-top img-fluid', style: 'height: 150px; object-fit: contain;', alt: 'HTML/CSS' %>
                           <div class="card-body text-center">
                              <p class="card-text">HTML/CSS</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-2 col-4">
                        <div class="card h-100" style="border-radius: 20px;">
                           <%= image_tag 'javascript.png', class: 'card-img-top img-fluid', style: 'height: 150px; object-fit: contain;', alt: 'JavaScript' %>
                           <div class="card-body text-center">
                              <p class="card-text">JavaScript</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-2 col-4">
                        <div class="card h-100" style="border-radius: 20px;">
                           <%= image_tag 'github.png', class: 'card-img-top img-fluid', style: 'height: 150px; object-fit: contain;', alt: 'Git/GitHub' %>
                           <div class="card-body text-center">
                              <p class="card-text">Git/GitHub</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-2 col-4">
                        <div class="card h-100" style="border-radius: 20px;">
                           <%= image_tag 'bootstrap.png', class: 'card-img-top img-fluid', style: 'height: 150px; object-fit: contain;', alt: 'Bootstrap' %>
                           <div class="card-body text-center">
                              <p class="card-text">Bootstrap</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-2 col-4">
                        <div class="card h-100" style="border-radius: 20px;">
                           <%= image_tag 'linux.webp', class: 'card-img-top img-fluid', style: 'height: 150px; object-fit: contain;', alt: 'Linux' %>
                           <div class="card-body text-center">
                              <p class="card-text">Linux</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-2 col-4">
                        <div class="card h-100" style="border-radius: 20px;">
                           <%= image_tag 'tailwind.png', class: 'card-img-top img-fluid', style: 'height: 150px; object-fit: contain;', alt: 'Tailwind CSS' %>
                           <div class="card-body text-center">
                              <p class="card-text">Tailwind CSS</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-2 col-4">
                        <div class="card h-100" style="border-radius: 20px;">
                           <%= image_tag 'react.png', class: 'card-img-top img-fluid', style: 'height: 150px; object-fit: contain;', alt: 'REACT' %>
                           <div class="card-body text-center">
                              <p class="card-text">REACT</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-2 col-4 me-auto">
                        <div class="card h-100" style="border-radius: 20px;">
                           <%= image_tag 'oop.jpg', class: 'card-img-top img-fluid', style: 'height: 150px; object-fit: contain;', alt: 'OOP' %>
                           <div class="card-body text-center">
                              <p class="card-text">(OOP)</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="services section-padding" id="section_3">
            <div class="container">
               <div class="row">
                  <div class="col-lg-10 col-12 mx-auto">
                     <div class="section-title-wrap d-flex justify-content-center align-items-center mb-5">
                        <%= image_tag 'handshake-man-woman-after-signing-business-contract-closeup.jpg', class: 'avatar-image img-fluid', alt: '' %>
                        <h2 class="text-white ms-4 mb-0">Services</h2>
                     </div>
                     <div class="row pt-lg-5">
                        <!-- Web Development -->
                        <div class="col-lg-6 col-12">
                           <div class="services-thumb">
                              <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                                 <h3 class="mb-0">Web Development</h3>
                                 <div class="services-price-wrap ms-auto">
                                    <p class="services-price-text mb-0">$2,000</p>
                                    <div class="services-price-overlay"></div>
                                 </div>
                              </div>
                              <p>Professional website development services using modern frameworks like Ruby on Rails, HTML/CSS, and JavaScript for dynamic and responsive web solutions.</p>
                              <a href="#" class="custom-btn custom-border-btn btn mt-3">Discover More</a>
                              <div class="services-icon-wrap d-flex justify-content-center align-items-center">
                                 <i class="services-icon bi-globe"></i>
                              </div>
                           </div>
                        </div>
                        <!-- Web Applications -->
                        <div class="col-lg-6 col-12">
                           <div class="services-thumb services-thumb-up">
                              <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                                 <h3 class="mb-0">Web Applications</h3>
                                 <div class="services-price-wrap ms-auto">
                                    <p class="services-price-text mb-0">$3,500</p>
                                    <div class="services-price-overlay"></div>
                                 </div>
                              </div>
                              <p>Building custom web applications tailored to your business needs, from e-commerce to content management systems, using secure and scalable technologies.</p>
                              <a href="#" class="custom-btn custom-border-btn btn mt-3">Discover More</a>
                              <div class="services-icon-wrap d-flex justify-content-center align-items-center">
                                 <i class="services-icon bi-laptop"></i>
                              </div>
                           </div>
                        </div>
                        <!-- C++ Programming -->
                        <div class="col-lg-6 col-12">
                           <div class="services-thumb">
                              <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                                 <h3 class="mb-0">C++ Programming</h3>
                                 <div class="services-price-wrap ms-auto">
                                    <p class="services-price-text mb-0">$1,800</p>
                                    <div class="services-price-overlay"></div>
                                 </div>
                              </div>
                              <p>Offering efficient and optimized C++ programming solutions, including algorithm design, data structures, and system-level programming for various projects.</p>
                              <a href="#" class="custom-btn custom-border-btn btn mt-3">Discover More</a>
                              <div class="services-icon-wrap d-flex justify-content-center align-items-center">
                                 <i class="services-icon bi-code"></i>
                              </div>
                           </div>
                        </div>
                        <!-- Database Management -->
                        <div class="col-lg-6 col-12">
                           <div class="services-thumb services-thumb-up">
                              <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                                 <h3 class="mb-0">Database Management</h3>
                                 <div class="services-price-wrap ms-auto">
                                    <p class="services-price-text mb-0">$2,200</p>
                                    <div class="services-price-overlay"></div>
                                 </div>
                              </div>
                              <p>Providing database design, optimization, and management services, ensuring high performance and secure data handling for your web applications.</p>
                              <a href="#" class="custom-btn custom-border-btn btn mt-3">Discover More</a>
                              <div class="services-icon-wrap d-flex justify-content-center align-items-center">
                                 <i class="services-icon bi-database"></i>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="projects section-padding" id="section_4">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-8 col-12 ms-auto">
            <div class="section-title-wrap d-flex justify-content-center align-items-center mb-4">
               <%= image_tag 'white-desk-work-study-aesthetics.jpg', class: 'avatar-image img-fluid', alt: '' %>
               <h2 class="text-white ms-4 mb-0">Projects</h2>
            </div>
         </div>
         <div class="clearfix"></div>
         
         <!-- LOOMS-LEGACY Project -->
         <div class="col-lg-4 col-md-6 col-12">
            <a href="/loomlegacies" class="text-decoration-none"> <!-- Link to project page -->
               <div class="projects-thumb">
                  <div class="projects-info">
                     <small class="projects-tag">Web Application</small>
                     <h3 class="projects-title">LOOMS-LEGACY</h3>
                     <p class="projects-description">Application to manage textile company operations online.</p>
                  </div>
                  <!-- Popup only for image -->
                  <a href="<%= asset_path('looms-legacy.jpg') %>" class="popup-image">
                     <%= image_tag 'looms-legacy.jpg', class: 'projects-image img-fluid', alt: 'Looms-Legacy' %>
                  </a>
               </div>
            </a>
         </div>

         <!-- CHATSPHERE Project -->
         <div class="col-lg-4 col-md-6 col-12">
            <a href="/chatsphere_welcome" class="text-decoration-none"> <!-- Link to project page -->
               <div class="projects-thumb">
                  <div class="projects-info">
                     <small class="projects-tag">Chat Application</small>
                     <h3 class="projects-title">CHATSPHERE</h3>
                     <p class="projects-description">Real-time chatting application for seamless communication.</p>
                  </div>
                  <!-- Popup only for image -->
                  <a href="<%= asset_path('chatsphere.jpg') %>" class="popup-image">
                     <%= image_tag 'chatsphere.jpg', class: 'projects-image img-fluid', alt: 'Chatsphere' %>
                  </a>
               </div>
            </a>
         </div>

         <!-- SMART-BANK Project -->
         <div class="col-lg-4 col-md-6 col-12">
            <a href="/smartbank" class="text-decoration-none"> <!-- Link to project page -->
               <div class="projects-thumb">
                  <div class="projects-info">
                     <small class="projects-tag">Banking Application</small>
                     <h3 class="projects-title">SMART-BANK</h3>
                     <p class="projects-description">A C++ banking application with essential financial operations.</p>
                  </div>
                  <!-- Popup only for image -->
                  <a href="<%= asset_path('smart-bank.jpg') %>" class="popup-image">
                     <%= image_tag 'smart-bank.jpg', class: 'projects-image img-fluid', alt: 'Smart-Bank' %>
                  </a>
               </div>
            </a>
         </div>

         <!-- TIC-TAC-TOE Project -->
         <div class="col-lg-4 col-md-6 col-12">
            <a href="/tictactoe" class="text-decoration-none"> <!-- Link to project page -->
               <div class="projects-thumb">
                  <div class="projects-info">
                     <small class="projects-tag">Game</small>
                     <h3 class="projects-title">TIC-TAC-TOE</h3>
                     <p class="projects-description">Classic Tic-Tac-Toe game implemented for practice and fun.</p>
                  </div>
                  <!-- Popup only for image -->
                  <a href="<%= asset_path('tic-tac-toe.jpg') %>" class="popup-image">
                     <%= image_tag 'tic-tac-toe.jpg', class: 'projects-image img-fluid', alt: 'Tic-Tac-Toe' %>
                  </a>
               </div>
            </a>
         </div>

         <!-- QUICK-AND-QUALITY Project -->
         <div class="col-lg-4 col-md-6 col-12">
            <a href="/quickandquality" class="text-decoration-none"> <!-- Link to project page -->
               <div class="projects-thumb">
                  <div class="projects-info">
                     <small class="projects-tag">Website & Admin Dashboard</small>
                     <h3 class="projects-title">QUICK-AND-QUALITY</h3>
                     <p class="projects-description">Website and admin dashboard for a construction company.</p>
                  </div>
                  <!-- Popup only for image -->
                  <a href="<%= asset_path('quick-and-quality.jpg') %>" class="popup-image">
                     <%= image_tag 'quick-and-quality.jpg', class: 'projects-image img-fluid', alt: 'Quick-and-Quality' %>
                  </a>
               </div>
            </a>
         </div>
      </div>
   </div>
</section>

         <section class="contact section-padding" id="section_5">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-8 col-12">
                     <div class="section-title-wrap d-flex justify-content-center align-items-center mb-5">
                        <%= image_tag 'aerial-view-man-using-computer-laptop-wooden-table.jpg', class: 'avatar-image img-fluid', alt: '' %>
                        <h2 class="text-white ms-4 mb-0">Say Hi</h2>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-3 col-md-6 col-12 pe-lg-0">
                     <div class="contact-info contact-info-border-start d-flex flex-column">
                        <strong class="site-footer-title d-block mb-3">Services</strong>
                        <ul class="footer-menu">
                           <li class="footer-menu-item"><a href="#" class="footer-menu-link">Websites</a></li>
                           <li class="footer-menu-item"><a href="#" class="footer-menu-link">Web-Apps</a></li>
                           <li class="footer-menu-item"><a href="#" class="footer-menu-link">Database management</a></li>
                           <li class="footer-menu-item"><a href="#" class="footer-menu-link">C++ Programming</a></li>
                        </ul>
                        <strong class="site-footer-title d-block mt-4 mb-3">Stay connected</strong>
                        <ul class="social-icon">
                           <li class="social-icon-item">
                              <a href="https://github.com/AliIshaqPro" class="social-icon-link bi bi-github" title="GitHub"></a>
                           </li>
                           <li class="social-icon-item">
                              <a href="https://www.facebook.com/profile.php?id=61553670333930" class="social-icon-link bi bi-facebook" title="Facebook"></a>
                           </li>
                           <li class="social-icon-item">
                              <a href="https://www.instagram.com/aviation8014/?hl=en" class="social-icon-link bi bi-instagram" title="Instagram"></a>
                           </li>
                           <li class="social-icon-item">
                              <a href="https://www.linkedin.com/in/ali-ishaq-0bb5a0219/" class="social-icon-link bi bi-linkedin" title="LinkedIn"></a>
                           </li>
                           <li class="social-icon-item">
                              <a href="mailto:aliishaqsandho@gmail.com" class="social-icon-link bi bi-envelope" title="Email"></a>
                           </li>
                           <li class="social-icon-item">
                              <a href="https://www.fiverr.com/yourusername" class="social-icon-link bi bi-brightness-high" title="Fiverr"></a> <!-- Replace 'yourusername' with your Fiverr username -->
                           </li>
                           <li class="social-icon-item">
                              <a href="https://www.upwork.com/freelancers/~youruserid" class="social-icon-link bi bi-briefcase" title="Upwork"></a> <!-- Replace 'youruserid' with your Upwork ID -->
                           </li>
                        </ul>
                        <strong class="site-footer-title d-block mt-4 mb-3">Start a project</strong>
                        <p class="mb-0">I’m available for freelance projects</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-12 ps-lg-0">
                     <div class="contact-info d-flex flex-column">
                        <strong class="site-footer-title d-block mb-3">About</strong>
                        <p class="mb-2">
                           I Am a professional Web developer. Feel free to get in touch with me.
                        </p>
                        <strong class="site-footer-title d-block mt-4 mb-3">Email</strong>
                        <p>
                           <a href="mailto:hello@josh.design">aliishaqsandho@gmail.com</a>
                        </p>
                        <strong class="site-footer-title d-block mt-4 mb-3">Call</strong>
                        <p class="mb-0">
                           <a href="tel:120-240-9600">+92 346 0422988</a>
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                     <%= form_with(model: @contact, url: contacts_path, method: 'post', class: 'custom-form contact-form', role: 'form', local: true) do |form| %>
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                           <div class="form-floating">
                              <%= form.text_field :name, class: 'form-control', placeholder: 'Name', required: true, id: 'name' %>
                              <label for="name">Name</label>
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                           <div class="form-floating">
                              <%= form.email_field :email, class: 'form-control', placeholder: 'Email address', required: true, id: 'email', pattern: '[^ @]*@[^ @]*' %>
                              <label for="email">Email address</label>
                           </div>
                        </div>
                        <!-- Checkboxes for services -->
                        <div class="col-lg-3 col-md-6 col-6">
                           <div class="form-check form-check-inline">
                              <%= form.check_box :website, class: 'form-check-input', id: 'inlineCheckbox1', value: '1' %>
                              <label class="form-check-label" for="inlineCheckbox1">Websites</label>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                           <div class="form-check form-check-inline">
                              <%= form.check_box :branding, class: 'form-check-input', id: 'inlineCheckbox2', value: '1' %>
                              <label class="form-check-label" for="inlineCheckbox2">Branding</label>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                           <div class="form-check form-check-inline">
                              <%= form.check_box :ecommerce, class: 'form-check-input', id: 'inlineCheckbox3', value: '1' %>
                              <label class="form-check-label" for="inlineCheckbox3">Ecommerce</label>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                           <div class="form-check form-check-inline">
                              <%= form.check_box :seo, class: 'form-check-input', id: 'inlineCheckbox4', value: '1' %>
                              <label class="form-check-label" for="inlineCheckbox4">SEO</label>
                           </div>
                        </div>
                        <div class="col-lg-12 col-12">
                           <div class="form-floating">
                              <%= form.text_area :message, class: 'form-control', placeholder: 'Tell me about the project', id: 'message' %>
                              <label for="message">Tell me about the project</label>
                           </div>
                        </div>
                        <div class="col-lg-3 col-12 ms-auto">
                           <%= form.submit 'Send', class: 'form-control' %>
                        </div>
                     </div>
                     <% end %>
                  </div>
               </div>
            </div>
         </section>
      </main>
      <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="copyright-text-wrap">
                    <p class="mb-0">
                        <span class="copyright-text">Copyright © 2036 <a href="#">Ali Ishaq</a>. All rights reserved.</span>
                        Design: 
                        <a rel="sponsored" href="https://aliishaq.site" target="_blank">TemplateMo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

      <!-- JAVASCRIPT FILES -->
      <%= javascript_include_tag 'jquery.min', 'bootstrap.min', 'jquery.sticky', 'click-scroll', 'jquery.magnific-popup.min', 'magnific-popup-options', 'custom', 'data-turbolinks-track': 'reload' %>
   </body>
</html>