<!DOCTYPE html>
<html>
  <head>
    <title>LOOM-LEGACY</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<<<<<<< HEAD
    <%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
=======
    
>>>>>>> 4342607e6833b200abd799c6724aecf59c1eff80
  </head>

  <body>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>
   
  </body>
</html>

